.bottomBar {
    /*width: 100%;*/
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background-color: #4ea1d3;
}
